/*
@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  .logo {
    flex: 1;
  }

  .items {
    flex: 0 1 auto;
    overflow-y: auto;
    text-overflow.ellipsis;
  }
}
*/

body {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
    margin: 0;
    max-width: 100%;
}
.header{
    background: #7a60ff;
	background: linear-gradient(to left, #7a60ff, #cd9ffa);
    padding: 0 12rem;
    color: #fff;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: fixed;
}
.navbar.scrolled {
    max-width: 100%;
    background-color: #fff;
}
.navbar-list{
    list-style: none;
    display: flex;
    justify-content: flex-start;
   
}
.navbar-list li{
    margin: 0 0.8em;
}
a{
    text-decoration: none;
    color: #fff;
}
.banner{
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}
.left-span{
    padding: 5em 8em 2em 1em;
}
.left-span h1{
    font-size: 2rem;
    color: #fff;
}
.left-span p{
    color: #fff;
    margin-top: 3em;
    font-size: 1rem;
}
.left-span img{
    margin: 2em 1em 0 0;
    flex: 0 0 100px;
    max-width: 8rem;
    border-radius: 7px;
    
}
.right-span{
    padding: 3em 8em;
}
h1{
    font-weight: 700px;
    line-height: 1.2;
    color: #212529;
}
p{
    color: #818992;
    
}
.about{
    text-align: center;
    background-color: #fff;
    margin: 5rem;
}
.about p{
    margin: 2rem 30% 5rem 30%;
    font-size:medium;
}
.about-section{
    display: flex;
    margin: 0 auto;
    padding:0 7rem
}
.about-section h2{
    font-weight: 600px;
    font-size: 1.25rem;
}
.about-section p{
    font-size: 0.9rem;
    width: 70%;
    margin: 0 auto;
}

.about-logo{
    width: 5rem;
    height: 5rem;
    padding: 2rem;
	background: #7a60ff;
	background:  linear-gradient(to left, #7a60ff, #cd9ffa);
	color: #ffffff;;
    border-radius: 50%;
    margin: 1rem 0;
}
button{
    padding: 0.8rem 2.5rem;
    margin: 5rem 0 1rem 0;
    font-size: 1.2rem;
    background-color: #fff;
    color: #8e1efc;
    border: 2px solid #8e1efc;
    border-radius: 0.5rem;
    cursor: pointer;
}
button:hover{
    background-color: #8e1efc;
    color: #fff;
}
.video-section{
    height: 18rem;
    background: url(img/video-bg.jpg) no-repeat fixed center;
	background-size: cover;
	overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.video-section div{
    width: 100%;
    padding-top: 4rem;
    background: linear-gradient(to left, rgba(122, 96, 255, 0.90), rgba(205, 159, 250, 0.90));
}
.video-section div h1{
    color: #fff;
    font-size: 4rem,
}
.video-section div img{
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}
.features{
    text-align: center;
    background-color: #fff;
    margin: 5rem;
}
.features h1{
    font-weight: 600px;
    font-size: 2em;
}
.features p{
    font-size:medium;
    max-width: 50em;
    margin: 0 auto;
    text-align: justify;
}
.features-span{
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 70rem;
    margin: 0 auto;
    margin-top: 5rem;
    
}
.features-span div{
    text-indent: 1rem;
    margin: 2rem 0;
    padding-bottom: 1rem;
    
}.features-span div h4{
    font-weight: 600;
    font-size: 1rem;
    
}

.span2{
    padding: 0 3rem;
}
.team{
    background-color: #fafafa;
    border-top: 1px solid #e4e4e4;
    text-align: center;
    padding: 4rem 5rem 1rem 4rem;
}
.team p{
    margin: 2rem 30% 5rem 30%;
    font-size:medium;
}
.users{
    display: flex;
    justify-content: center;
    
}
.users span{
    margin:  0 4rem;
}
.users img{
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}
.users h4{
    color: rgb(142, 30, 252);
    font-size: 1rem;
    font-weight: 500;
}
.users p{
    font-size: 0.8rem;
    margin-top: -1rem;
}
.testimonials{
    text-align: center;
    color: #fff;
    background: linear-gradient(to left, rgba(122, 96, 255, 0.90), rgba(205, 159, 250, 0.90));
    padding-bottom: 2rem;
    
}
.testimonials p{
    margin: 2rem 30% 5rem 30%;
    font-size:medium;
    color: #fff;
}
.testimonials h1{
    color: #fff;
}
.slider{
    display: flex;
    justify-content: space-between;
    vertical-align: center;
}
.slider-item{
    display: flex;
    position: relative;
	background-color: rgba(255, 255, 255, 0.81);
	border-radius: 5px;
	box-shadow:none;
    width: 80%;
    margin: 0 auto;
    height: 8rem;
}
.slider-item img{
    float: left;
    margin: auto 0;
    margin-left: 1rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 10px solid #fff;
}
.slider-item h2{
    color:#212529;
    float: left;
}
.slider p {
	float: left;
	width: 75%;
    display: block;
	position: relative;
	margin: 0 0 20px;
	font-size: 1.125em;
	line-height: 1.25;
}
.slider h1 {
	display: block;
	font-size: 1.5em;
	font-weight: 700;
}
.faq{
    text-align: center;
    background-color: #fafafa;
    border-bottom: 1px solid #e4e4e4;
    padding: 5rem;
}

.faq>p{
    color: #818992;
    font-size: 1rem;
    max-width: 50%;
    margin: 0 auto;
}
.question-box{
    display: flex;
    flex-wrap: wrap;
    margin: 3rem;
}
.questions{
    max-width: 40%;
    flex-basis: 50%;
    flex: 0 0 50%;
    margin: 0 auto;
    padding: 2rem 2rem 0 2rem;
    text-align: justify;
}
.questions h4{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #212529;
}
.questions p{
    color: #818992;
	font-weight:300;
	
}
.contact{
    text-align: center;
    padding-bottom: 2rem;
}
.contact p{
    margin: 2rem 20% 5rem 20%;
    font-size:medium;
}
.contact-section{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 70%;
    margin: 0 auto;
}
.contact-form{
    max-width: 100%;
    display: block;
    flex-grow: 2;
}
.contact-info{
    flex-grow: 1;
}
input{
    height: 3rem;
	padding: 0 1rem;
	background: #fff;
	border-radius: 30px;
	margin-bottom: 1rem;
    border: 1px solid #e4e4e4;
}
.name{
    margin-left: 0;
    width: 40%;
}
.email{
    margin-right: 0;
    width: 40%;
}
.subject{
    width: 86%;
}
.submit{
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(to left, rgba(122, 96, 255, 0.90), rgba(205, 159, 250, 0.90));
    border: none;
    color: #fff;
}
.message{
    width: 86%;
    padding: 0.5rem 1rem;
	background: #fff;
	border-radius: 30px;
	margin-bottom: 1rem;
    border: 1px solid #e4e4e4;
}
.contact-info{
    background: linear-gradient(to left, rgba(122, 96, 255, 0.90), rgba(205, 159, 250, 0.90));
    height: 23rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.contact-info-item p{
    color: #fff;
}
.contact-info-item {
    display: flex;
    width: 10rem;
    height: 5rem;
    align-items: center;
}
.contact-info-item img{
    width: 2rem;
    height: 2rem;
}